* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: Montserrat;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

.text-uppercase {
    text-transform: uppercase;
}


/* navbar */

nav {
    width: 100%;
    font-family: Montserrat;
    background-color: #2c3e59;
    color: white;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    position: fixed;
    z-index: 500;
}

#logo-box {
    float: left;
    padding-top: .5rem;
}

#logo-box .logo {
    color: white;
    font-weight: 700;
    font-size: 3.2rem;
}

#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin-left: .4rem;
}

#nav-links .nav-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: .1rem;
    transition: color .3s;
}

#nav-links .nav-link:hover {
    color: #18bc9c;
}


/* header */

header {
    background-color: #18bc9c;
    padding-top: calc(112px + 6rem);
    padding-bottom: 112px;
    text-align: center;
}

header h1 {
    color: white;
    font-size: 7.6rem;
}

header h2 {
    color: #fff;
    font-size: 2.8rem;
    font-family: 'lato';
    font-weight: 300;
}

.star-light {
    border: none;
    border-top: .4rem solid white;
    max-width: 25rem;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;
}

.star-light::after {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    color: white;
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -2.6rem;
    background-color: #18bc9c;
    padding: 0 .8rem;
}


/* portfolio */

#portfolio {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

.row .col {
    width: 33.33%;
    float: left;
    padding: 1.5rem;
}

#portfolio h2 {
    color: #2c3e59;
    font-size: 5rem;
}

.portfolio-item {
    position: relative;
}

.portfolio-item img {
    display: block;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #18bc9c;
    opacity: 0;
    transition: opacity .5s ease;
}

.img-overlay .icon {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-item:hover .img-overlay {
    opacity: 0.8;
}

.star-dark {
    border: none;
    border-top: .4rem solid #2c3e59;
    max-width: 25rem;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;
    text-align: center;
}

.star-dark::after {
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    color: #2c3e59;
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -2.6rem;
    background-color: #fff;
    padding: 0 .8rem;
}